html,
body {
  margin: 0;
  background-color: #252430;
}

* > a {
  text-decoration: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr repeat(4, 0);
  grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper {
  grid-area: 1 / 1 / 2 / 6;
}
.middle {
  grid-area: 2 / 1 / 5 / 6;
}
.bottom {
  grid-area: 5 / 1 / 6 / 6;
}

/* User info */
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #303139;
  padding: 0 20px;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-avatar {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  max-height: 50px;
  max-width: 50px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-image: url("https://randomuser.me/api/portraits/men/86.jpg");
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  font-weight: bold;
}

.user-status {
  color: #5f6178;
  font-weight: lighter;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.user-status::before {
  content: "";
  background-color: #3af;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
  margin-right: 5px;
}

.user-info svg {
  color: #5f6178;
}

.nav {
  display: flex;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s all ease-in-out;
}

.nav a:hover {
  color: #3562f4;
}

/* Chat list */
.chat-list {
  overflow: scroll;
  padding: 0 20px;
  grid-area: 2 / 1 / 5 / 6;
}

.msg-container {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  margin: 10px 0;
  color: #fff;
}

.msg-container.right {
  justify-content: flex-end;
}

.chat-msg {
  margin: 1px 0;
  padding: 10px 14px;
  border-radius: 20px;
  max-width: 75%;
  text-align: left;
}

.msg-container.left .chat-msg {
  background: #333144;
  border-bottom-left-radius: 7px;
}

.msg-container.right .chat-msg {
  background: #3562f4;
  border-bottom-right-radius: 7px;
}

/* Input container */

.chat-input-container {
  grid-area: 5 / 1 / 6 / 6;
  padding: 0 10px;
  border-top: 1px solid #303139;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-input-container input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #fff;
  font-weight: regular;
  width: 100%;
}

.chat-input-container svg {
  stroke-width: 2;
  margin: 0 4px;
  color: #5f6178;
  cursor: pointer;
}

.emoji-picker {
  position: absolute;
  bottom: 60px;
  right: 20px;
}

.emoji-picker-react {
  box-shadow: none !important;
}

.gif-picker {
  position: absolute;
  bottom: 60px;
  right: 20px;
}

#loading {
  background: #333144;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: #303139;
  position: absolute;
  padding: 5px;
  bottom: 40px;
  right: 20px;
}

.header {
  grid-area: 1 / 1 / 2 / 6;
  border-bottom: 1px solid #303139;
  text-align: left;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.chatlist {
  padding: 0;
  text-decoration: none;
}

.chatlist li {
  padding: 10px;
  transition: 0.3s all ease-in-out;
}

.chatlist li .user-name {
  font-weight: normal;
}
.chatlist li:hover {
  background-color: #302f3a;
}

.settings-form {
  grid-area: 2 / 1 / 5 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 11px;
  align-items: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  padding: 10px;
}

.settings-form input {
  background-color: #302f3a;
  border: 1px solid #3a3b44;
  box-shadow: none;
  padding: 15px;
  font-size: 15px;
  border-radius: 12px;
  width: 80vw;
  margin-top: 5px;
  color: white;
}

.button {
  background-color: #3562f4;
  border: none;
  box-shadow: none;
  padding: 10 20px;
  border-radius: 12px;
  font-size: 14px;
  color: white;
  height: 50px;
  width: 100px;
}
